@import "tailwindcss";

/* Light Mode (default) */
:root {
  color-scheme: light;
  --background: #ffffff;
  --foreground: #171717;
}

html {
  scroll-behavior: smooth;
}
/* Dark Mode (OS preference) */
@media (prefers-color-scheme: dark) {
  :root {
    color-scheme: dark;
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/* Tailwind Theme Map */
@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --font-sans: var(--font-inter);
  --font-heading: var(--font-playfair);
}

/* Global Styles */
body {
  background: var(--foreground);
  color: var(--background);
  font-family: var(--font-inter), sans-serif;
}
